@media (prefers-color-scheme: dark) {
    #system_appearance:not(:checked) ~ * {
        --clr-text-primary: hsl(0, 0%, 96%);
        --clr-text-primary-inverse: #000000;
        --clr-text-secondary: hsl(240, 3%, 81%);
        --clr-text-tertiary: hsl(0, 0%, 96%);
        --clr-base-cta: hsl(0, 0%, 95%);
        --clr-primary-inverse: hsl(0, 0%, 0%);
        --clr-border-border: #4B4B4F;

        --clr-add-btn: hsl(0, 0%, 100%);
        --clr-add-btn-ico: hsl(0, 0%, 0%);
        --clr-product-card: hsl(0, 0%, 0%);
        --clr-bg-drawer: hsl(0, 0%, 0%);

        --clr-border: hsl(240, 3%, 30%);
        --shadow-border: 0 1px 2px 0 hsla(0, 0%, 100%, 0.05);
        
        --accent-light-orange: hsl(37, 22%, 24%);
        --accent-light-blue: hsl(195, 18%, 22%);
        --accent-light-purple: hsl(261, 20%, 22%);
        --accent-light-red: hsl(6, 17%, 22%);
        --accent-light-green: hsl(67, 17%, 21%);

        --chevron-bg: hsl(240, 3%, 30%);
        
        --clr-neutral-50: hsl(270, 3%, 13%);
        --clr-neutral-100:  hsl(240, 3%, 22%);
        --clr-accent-green: #27A64B;
    }

    #system_appearance:checked ~ * {
        --clr-text-primary: hsl(0, 0%, 18%);
        --clr-text-primary-inverse: #FFFFFF;
        --clr-text-secondary: hsl(250, 4%, 27%);
        --clr-text-tertiary: hsl(0, 0%, 35%);
        --clr-text-cta: hsl(152, 99%, 36%);
        --clr-text-disabled: hsl(0, 0%, 60%);
        --clr-base-green: hsl(152, 56%, 57%);
        --clr-base-cta: hsl(0, 0%, 6%);
        --clr-base-white: hsl(0, 0%, 100%);
        --clr-base-black: hsl(0, 0%, 0%);
        --clr-primary-inverse: #FFFFFF;
        --clr-btn-primary: hsl(0, 0%, 100%);

        --clr-order-type-card: #ffffff;
        --clr-bg-checkbox: #000000;
        --clr-checkbox: #ffffff;
        --clr-product-card: #ffffff;
        --clr-product-card-border: transparent;

        --clr-bg-drawer: hsl(0, 0%, 100%);

        --clr-add-btn: hsl(0, 0%, 0%);
        --clr-add-btn-ico: hsl(0, 0%, 100%);

        --clr-border: hsl(0, 0%, 100%);
        --clr-border-border: #C2C2C2;
        --clr-border-light: #E9E9E9;
        --shadow: 0 1px 2px rgba(16 24 30 / 5%);

        --accent-light-orange: hsl(36, 83%, 93%);
        --accent-light-blue: hsl(197, 50%, 95%);
        --accent-light-purple: hsl(261, 88%, 97%);
        --accent-light-red: hsl(4, 73%, 96%);
        --accent-light-green: hsl(67, 45%, 92%);

        --clr-neutral-50: hsl(0, 0%, 95%);
        --clr-neutral-100:  hsl(0, 0%, 91%);
        --clr-neutral-200: hsl(215, 27%, 91%);

        --clr-accent-green: #3CCC65;
        --clr-accent-red: #EC203C;
        --clr-accent-orange: #F68A1F;

        --chevron-shadow: 0 1px 2px rgba(0 0 0 / 6%), 0 1px 3px rgba(220 43 11 / 11%);
        --chevron-bg: hsl(0, 0%, 100%);
    }

    @media (min-width: 768px) {
        * {
            --clr-product-card: #2C2C2E;
        }
    }

    .fo-body::after {
        height: 150%!important;
        width: 150%!important;
    }
}