* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--base-font);
}

*, html { scroll-behavior: smooth; }

.fo-body { 
    position: relative;
    font-size: 1.6rem;
    background-color: transparent;
    min-height: 100vh;
}

.fo-body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background-color: var(--clr-base-black);
    border-bottom-left-radius: 100%;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
    will-change: width, height, background-color !important;
    transition-duration: .315s, var(--duration), 0s;
    transition-delay: 0s, 0s, 0s;
    transition-property: height, width, background-color;
    transition-timing-function: ease-in-out;
}

/* Header */
.fo-header {
    /* background-color: var(--clr-base-white);
    border: 1px solid var(--clr-neutral-200); */
}

.fo-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.fo-logo {
    color: var(--clr-text-primary);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: var(--weight-medium);
    line-height: 24px;
    user-select: none;
    -webkit-user-select: none;
}

.fo-nav {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

/* buttons */
.fo-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--clr-text-primary);
}

.fo-link:target span {
    color: orange;
}

.fo-btn {
    text-decoration: none;
    color: rgb(54, 66, 83);
    user-select: none;
    -webkit-user-select: none;
}

.fo-btn.fo-btn--primary {
    color: var(--clr-btn-primary);
    background-color: var(--clr-base-cta);
    border-radius: var(--rounded-pill-sm);
    font-size: 1.6rem;
    padding: 5px 16px 7px;
    line-height: 22px;
    letter-spacing: -2%;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    transition-delay: var(--duration);
}

.fo-icon {
    color: var(--clr-text-primary);
    display: grid;
    place-items: center;
}

.fo-icon.fo-icon--secondary { color: var(--clr-text-secondary); }
.fo-icon.fo-icon--tertiary { color: var(--clr-text-tertiary); }

/* MAIN */
.fo-main {
    padding: 16px 0;
}

.fo-section {
    padding: 0 24px;
}

/* FIELDS */
.fo-form-wrapper {
    margin: 0 0 16px;
}

.fo-search-bar {
    position: relative;
    /* min-height: 40px;
    height: 40px; */
    border-radius: var(--rounded-pill-md);
    background-color: var(--clr-base-white);
    border: 1px solid var(--clr-neutral-100);
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.fo-select {
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    color: currentColor;
    font-size: inherit;
}

.fo-input {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-radius: 0 40px 40px 0;
    outline: none;
}

.fo-input.fo-input--search {
    padding: 0 16px 0 6px;
    margin: 0 0 0 42px;
}

.fo-input::placeholder,
.fo-input::-webkit-input-placeholder {
    color: var(--clr-text-tertiary);
    user-select: none;
    -webkit-user-select: none;
}

/* SLIDER */
.fo-slider {
    position: relative;
}

.fo-slider__wrapper {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    margin: 0 0 16px
}

.fo-slider__wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.fo-slider__card {
    position: relative;
    padding: 16px 20px;
    column-gap: 8px;
    width: 164px;
    min-width: 164px;
    height: 164px;
    scroll-snap-align: center;
    user-select: none;
    -webkit-user-select: none;

    background-color: var(--accent-light-orange);
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__card.fo-slider__card--bg-neutral { background-color: var(--clr-neutral-50); }
.fo-slider__card.fo-slider__card--bg-orange { background-color: var(--accent-light-orange); }
.fo-slider__card.fo-slider__card--bg-blue { background-color: var(--accent-light-blue); }
.fo-slider__card.fo-slider__card--bg-purple { background-color: var(--accent-light-purple); }
.fo-slider__card.fo-slider__card--bg-red { background-color: var(--accent-light-red); }
.fo-slider__card.fo-slider__card--bg-green { background-color: var(--accent-light-green); }

.fo-slider__card.fo-slider__card--menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 4px;
}

.fo-slider__img-wrapper {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    height: 100px;
    min-height: 100px;
    width: 100px;
    min-width: 100px;
    z-index: 1;
}

.fo-slider__img {
    height: inherit;
    width: inherit;
    min-height: inherit;
    min-width: inherit;
    object-fit: cover;
    border-bottom-right-radius: 16px;
}

.fo-slider__text {
    position: relative;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--clr-text-primary);
    line-height: 24px;
    letter-spacing: -2%;
    white-space: nowrap;
    will-change: font-weight, color;
    z-index: 1;
    transition: color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__text.fo-slider__text--menu {
    color: var(--clr-text-primary);
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 2%;
    text-align: center;
}

.fo-slider__btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    display: none; /* hidden on mobile */
    place-items: center;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: var(--chevron-bg);
    box-shadow: var(--chevron-shadow);
    z-index: 5;
    cursor: pointer;
    transition: background-color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__btn.fo-slider__btn--next {
    left: unset;
    right: -16px;
}

/* Main Content */
.fo-main__content {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.fo-h1 {
    color: var(--clr-text-primary);
    font-size: 48px;
    transition-delay: var(--duration);
    transition-property: color;
    transition-duration: 150ms, 150ms;
}

.fo-h1--regular {
    font-weight: 400;
}

.fo-stacked-pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0 32px;
    column-gap: 8px;
    row-gap: 8px;
}

.fo-pill {
    display: inline-block;
    padding: 12px 16px;
    border-radius: var(--rounded-pill-md);
    background-color: var(--accent-light-orange);
    color: var(--clr-text-disabled);
    font-size: 1.4rem;
    line-height: 16px;
    cursor: pointer;
    transition-delay: var(--duration);
    transition-property: background-color, color;
    transition-duration: 150ms, 150ms;
}

/* main content sidebar */
.fo-sidebar {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 16px;
    padding: 16px 0;
}

.fo-overview-card {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 16px;
    border: 1px solid;
    border-color: var(--clr-border);
    box-shadow: var(--shadow);
    padding: 16px;
    border-radius: 16px;
}

.fo-overview-card__title {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -2%;
    color: var(--clr-text-primary);
    transition-delay: var(--duration);
    transition: color 150ms ease-in-out;
}

.fo-overview-card__location {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fo-overview-card__location-info {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;

    color: var(--clr-text-secondary);
    transition-delay: var(--duration);
    transition: color 150ms ease-in-out;
}

.fo-overview-card__location-info > * {
    color: currentColor;
}

.fo-overview-card__text--empty {
    display: block;
    font-size: 1.4rem;
    color: var(--clr-text-disabled);
    margin-bottom: 16px;
}

.fo-overview-card__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* MENU */
.fo-menus {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}

.fo-menu__card-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    color: rgba(16 24 40 / 5%);
    box-shadow: 0 0 12px 2px;
}

.fo-menu__card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 8px;
    row-gap: 8px;
}

.fo-menu__card-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--clr-text-primary);
    line-height: 24px;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-info {
    font-size: 1.4rem;
    color: var(--clr-text-secondary);
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-price {
    font-size: 2rem;
    color: var(--clr-text-primary);
    line-height: 24px;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-img {
    position: relative;
    display: grid;
    place-items: center;
}

.fo-menu__card-img img {
    border-radius: 100%;
}

.fo-menu__card-add {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    border-radius: 100%;
    background-color: var(--clr-add-btn);
    color: var(--clr-add-btn-ico);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
}

/* Form */
.fo-overview-card__order--grid,
.fo-overview-card__order--grid form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 16px 0 20px;
}

fieldset {
    all: unset;
    display: grid;
    border: 1px solid #C2C2C2;
    border-radius: 48px;
    height: 54px;
    outline: none;
    margin: 0;
    position: relative;
}

fieldset legend {
    position: absolute;
    top: -9px;
    left: 18px;
    color: var(--clr-text-disabled);
    background-color: var(--clr-add-btn-ico);
    font-size: 1.4rem;
    transition-delay: var(calc(--duration / 2));
    transition-property: background-color, color;
    transition-duration: 50ms, 50ms;
}

fieldset input {
    height: 100%;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    background-color: transparent;
    padding: 0 18px;
    font-size: 1.8rem;
    color: var(--clr-text-primary);
}

form button {
    padding: 12px 18px;
    border-radius: 48px;
    border: none;
    font-size: 2rem;
    color: #000000  ;
    cursor: pointer;
}