* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--base-font);
}

*, html { scroll-behavior: smooth; }

body {
    font-size: 1.6rem;
}

.fo-body { 
    position: relative;
    background-color: transparent;
    min-height: 100vh;
}

.fo-body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background-color: var(--clr-base-black);
    border-bottom-left-radius: 100%;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
    will-change: width, height, background-color !important;
    transition-duration: .315s, var(--duration), 0s;
    transition-delay: 0s, 0s, 0s;
    transition-property: height, width, background-color;
    transition-timing-function: ease-in-out;
}

/* Header */
.fo-header {
    /* background-color: var(--clr-base-white);
    border: 1px solid var(--clr-neutral-200); */
}

.fo-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.fo-links__desk {
    display: none;
}

.fo-logo {
    color: var(--clr-text-primary);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: var(--weight-medium);
    line-height: 24px;
    user-select: none;
    -webkit-user-select: none;
}

.fo-nav {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

/* buttons */
.fo-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--clr-text-primary);
    cursor: pointer;
}

.fo-link:target span {
    color: orange;
}

.fo-btn {
    width: max-content;
    text-decoration: none;
    color: rgb(54, 66, 83);
    user-select: none;
    -webkit-user-select: none;
}

.fo-btn.fo-btn--primary {
    color: var(--clr-btn-primary);
    background-color: var(--clr-base-cta);
    border-radius: var(--rounded-pill-sm);
    font-size: 1.6rem;
    padding: 5px 16px 7px;
    line-height: 22px;
    letter-spacing: -2%;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
    transition-delay: var(--duration);
}

.fo-icon {
    color: var(--clr-text-primary);
    display: grid;
    place-items: center;
}

.fo-icon.fo-icon--secondary { color: var(--clr-text-secondary); }
.fo-icon.fo-icon--tertiary { color: var(--clr-text-tertiary); }

/* MAIN */
.fo-main {
    padding: 16px 0;
}

.fo-section {
    padding: 0 16px;
}

/* FIELDS */
.fo-form-wrapper {
    margin: 0 0 16px;
}

.fo-search-bar {
    position: relative;
    /* min-height: 40px;
    height: 40px; */
    border-radius: var(--rounded-pill-md);
    background-color: var(--clr-base-white);
    border: 1px solid var(--clr-neutral-100);
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.fo-select {
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    color: currentColor;
    font-size: inherit;
}

.fo-input {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-radius: 0 40px 40px 0;
    outline: none;
}

.fo-input.fo-input--search {
    padding: 0 16px 0 6px;
    margin: 0 0 0 42px;
}

.fo-input::placeholder,
.fo-input::-webkit-input-placeholder {
    color: var(--clr-text-tertiary);
    user-select: none;
    -webkit-user-select: none;
}

/* SLIDER */
.fo-slider {
    position: relative;
}

.fo-slider__wrapper {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    margin: 0 0 16px
}

.fo-slider__title {
    font-size: 4.6rem;
    font-weight: 400;
    padding: 16px 0 32px;
    user-select: none;
    -ms-user-select: none;
    color: var(--clr-text-primary);
}

.fo-slider__wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.fo-slider__card {
    position: relative;
    padding: 16px 20px;
    column-gap: 8px;
    width: 164px;
    min-width: 164px;
    height: 164px;
    scroll-snap-align: center;
    user-select: none;
    -webkit-user-select: none;

    background-color: var(--accent-light-orange);
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__card.fo-slider__card--bg-neutral { background-color: var(--clr-neutral-50); }
.fo-slider__card.fo-slider__card--bg-orange { background-color: var(--accent-light-orange); }
.fo-slider__card.fo-slider__card--bg-blue { background-color: var(--accent-light-blue); }
.fo-slider__card.fo-slider__card--bg-purple { background-color: var(--accent-light-purple); }
.fo-slider__card.fo-slider__card--bg-red { background-color: var(--accent-light-red); }
.fo-slider__card.fo-slider__card--bg-green { background-color: var(--accent-light-green); }

.fo-slider__card.fo-slider__card--menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 4px;
}

.fo-slider__img-wrapper {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    height: 100px;
    min-height: 100px;
    width: 100px;
    min-width: 100px;
    z-index: 1;
}

.fo-slider__img {
    height: inherit;
    width: inherit;
    min-height: inherit;
    min-width: inherit;
    object-fit: cover;
    border-bottom-right-radius: 16px;
}

.fo-slider__text {
    position: relative;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--clr-text-primary);
    line-height: 24px;
    letter-spacing: -2%;
    white-space: nowrap;
    will-change: font-weight, color;
    z-index: 1;
    transition: color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__text.fo-slider__text--menu {
    color: var(--clr-text-primary);
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 2%;
    text-align: center;
}

.fo-slider__btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    min-height: 32px;
    width: 32px;
    min-width: 32px;
    display: none; /* hidden on mobile */
    place-items: center;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: var(--chevron-bg);
    box-shadow: var(--chevron-shadow);
    z-index: 5;
    cursor: pointer;
    transition: background-color 0.150s ease-in-out;
    transition-delay: var(--duration);
}

.fo-slider__btn.fo-slider__btn--next {
    left: unset;
    right: -16px;
}

/* Main Content */
.fo-main__content {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.fo-h1 {
    color: var(--clr-text-primary);
    font-size: 48px;
    transition-delay: var(--duration);
    transition-property: color;
    transition-duration: 150ms, 150ms;
}

.fo-h1--regular {
    font-weight: 400;
}

.fo-stacked-pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0 32px;
    column-gap: 8px;
    row-gap: 8px;
}

.fo-pill {
    display: inline-block;
    padding: 12px 16px;
    border-radius: var(--rounded-pill-md);
    background-color: var(--accent-light-orange);
    color: var(--clr-text-disabled);
    font-size: 1.4rem;
    line-height: 16px;
    cursor: pointer;
    transition-delay: var(--duration);
    transition-property: background-color, color;
    transition-duration: 150ms, 150ms;
}

/* main content sidebar */
.fo-sidebar {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 16px;
    padding: 16px 0;
}

.fo-overview-card {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    row-gap: 16px;
    border: 1px solid;
    border-color: var(--clr-border);
    box-shadow: var(--shadow);
    padding: 16px;
    border-radius: 16px;
}

.fo-overview-card__title {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -2%;
    color: var(--clr-text-primary);
    transition-delay: var(--duration);
    transition: color 150ms ease-in-out;
}

.fo-overview-card__location {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fo-overview-card__location-info {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;

    color: var(--clr-text-secondary);
    transition-delay: var(--duration);
    transition: color 150ms ease-in-out;
}

.fo-overview-card__location-info > * {
    color: currentColor;
}

.fo-overview-card__text--empty {
    display: block;
    font-size: 1.4rem;
    color: var(--clr-text-disabled);
    margin-bottom: 16px;
}

.fo-overview-card__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

/* MENU */
.fo-menus {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}

.fo-menu__card-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    color: rgba(16 24 40 / 5%);
    box-shadow: 0 0 12px 2px;
    transition: background-color 50ms ease-in-out;
}

.fo-menu__card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 8px;
    row-gap: 8px;
}

.fo-menu__card-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--clr-text-primary);
    line-height: 24px;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-info {
    font-size: 1.4rem;
    color: var(--clr-text-secondary);
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-price {
    font-size: 2rem;
    color: var(--clr-text-primary);
    line-height: 24px;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out;
}

.fo-menu__card-img {
    position: relative;
    display: grid;
    place-items: center;
}

.fo-menu__card-img img {
    border-radius: 100%;
}

.fo-menu__card-qty {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-add-btn);
    min-width: 48px;
    max-width: 100%;
    height: 48px;
    min-height: 48px;
}

.fo-menu__card-qty-field {
    all: unset;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
    line-height: 24px;
    color: var(--clr-text-primary-inverse);
}

.fo-menu__card-qty-field::-webkit-inner-spin-button, 
.fo-menu__card-qty-field::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none; 
    margin: 0; 
}

.fo-menu__card-qty.fo-menu__card-qty--active {
    border-radius: 40px;
}

.fo-menu__card-add,
.fo-menu__card-remove {
    width: 48px;
    min-width: 48px;
    height: 100%;
    border-radius: 100%;
    background-color: var(--clr-add-btn);
    color: var(--clr-add-btn-ico);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition-delay: var(--duration);
    transition: color 50ms ease-in-out, background-color 50ms ease-in-out;
}

/* Form */
.fo-overview-card__order--grid,
.fo-overview-card__order--grid form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 16px 0 20px;
}

.fo-payment__methods-for {
    display: none!important;
}

.fo-payment__methods-for--card {
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    padding-top: 32px;
}

.fo-payment__fieldset.fo-payment__fieldset--split {
    display: flex;
    row-gap: 16px;
    column-gap: 16px;
}

fieldset {
    all: unset;
    display: flex;
    gap: 8px;
    border: 1px solid #C2C2C2;
    border-radius: 48px;
    height: 54px;
    outline: none;
    margin: 0;
    padding: 0 18px;
    position: relative;
}

fieldset legend {
    position: absolute;
    top: -9px;
    left: 18px;
    color: var(--clr-text-disabled);
    background-color: var(--clr-add-btn-ico);
    font-size: 1.4rem;
    transition-delay: var(calc(--duration / 2));
    transition-property: background-color, color;
    transition-duration: 50ms, 50ms;
}

fieldset input {
    height: inherit;
    margin: 0;
    /* padding: 0 12px; */
    width: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    background-color: transparent;
    font-size: 1.8rem;
    color: var(--clr-text-primary);
}

form button,
.fo-form__redirect {
    text-decoration: none;
    background-color: var(--clr-neutral-100);
    text-align: center;
    padding: 12px 18px;
    border-radius: 48px;
    border: none;
    font-size: 2rem;
    color: #000000  ;
    cursor: pointer;
}

/* MENU SLIDER */
.fo-slider__menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-base-white);
    padding: 64px 16px 16px;
    z-index: 300;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    column-gap: 16px;
    row-gap: 16px;
    transition: right 500ms ease-in-out;
}

.fo-btn__close {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: var(--clr-add-btn);
    color: var(--clr-add-btn-ico);
    display: grid;
    place-items: center;
    transform: rotate(45deg);
}

/* Fixed Menu */
.fo-menu__fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 92px;
    width: 100%;
    background-color: var(--clr-neutral-50);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding: 16px 21px 20px;
    z-index: 300;
}

.fo-menu__wrapper {
    border-radius: 48px;
    background-color: #E9E9E9;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
}

.fo-menu__wrapper .fo-icon {
    padding: 16px;
}

.fo-menu__cart-count,
.fo-menu__cart-total {
    flex: 1;
    text-align: center;
}

.fo-menu__btn {
    font-size: 1.2rem;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #000;
    display: grid;
    place-items: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
}

/* PRODUCT MODAL */
.fo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0 0 0 / 40%); */
    display: grid;
    place-items: center;
    z-index: 500;
}

.fo-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 40%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fo-product {
    width: calc(100% - 24px);
    max-width: 1024px;
    height: 520px;
    background-color: white;
    border-radius: 32px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 12px;
    row-gap: 12px;
    z-index: 1000;
}

.fo-product__img-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.fo-product__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fo-product__info {
    padding: 0 0 0 24px;
}

.fo-modal__close-btn {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 32px; */
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(255 255 255 / 28%);
}

.fo-product__title {
    font-size: 3.6rem;
    color: var(--clr-text-primary);
    line-height: 38px;
    margin-bottom: 24px;
    padding-top: 56px;
    transition-delay: var(--duration);
}

.fo-product__description {
    font-size: 1.8rem;
    color: var(--clr-text-secondary);
    line-height: 22px;
    margin-bottom: 24px;
    transition-delay: var(--duration);
}

.fo-product__price {
    font-size: 2.2rem;
    line-height: 24px;
    color: var(--clr-text-secondary);
    transition-delay: var(--duration);
    margin-bottom: 32px;
}

.fo-product__option {
    padding: 32px 24px;
    box-shadow: 0 -8px 10px rgba(0 0 0 / 2.5%);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.fo-product__option-heading {
    font-size: 3.2rem;
    color: var(--clr-text-secondary);
    line-height: 46px;
    transition-delay: var(--duration);
    margin-bottom: 32px;
}

.fo-product {
    position: relative;
}

.fo-product__option-lists {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 16px;
}

.fo-product__option-list {
    position: relative;
    padding: 8px 12px;
    width: 100%;
    cursor: copy;
}

.fo-product__option-list:first-of-type {
    grid-column: 1 / span 2;
}

.fo-icon.fo-icon--check {
    display: none;
    background-color: var(--clr-base-cta);
    width: max-content;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.fo-product__info {
    position: relative;
    overflow-y: auto;
}

.fo-modal__close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1000;
}

.fo-product__cta {
    position: sticky;
    right: 0;
    bottom: 0;
}

.fo-product__option-img {
    margin-bottom: 12px;
}

.fo-product__option-title,
.fo-product__option-price {
    display: block;
    font-size: 1.6rem;
    color: var(--clr-text-secondary);
    text-align: center;
}

.fo-product__cta {
    display: flex;
    /* grid-template-columns: repeat(2, minmax(0,1fr)); */
    column-gap: 16px;
    row-gap: 16px;
    padding: 32px 0 0;
    background-color: var(--clr-base-white);
}

.fo-product__qty {
    height: 56px;
    border-radius: 40px;
    border: 1px solid var(--clr-border-border);
    /* width: max-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-base-white);
}

.fo-product__qty-btn {
    border: none;
    background-color: transparent;
    padding: 16px;
}

.fo-product__qty-field {
    all: unset;
    background-color: transparent;
    text-align: center;
    width: 56px;
    min-width: 56px;
    font-size: 2.2rem;
    line-height: 24px;
    color: var(--clr-text-secondary);
}

.fo-product__qty-field::-webkit-inner-spin-button, 
.fo-product__qty-field::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none; 
    margin: 0; 
}

.fo-product__atc {
    flex: 1;
    border: none;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-100);
    border-radius: 56px;
}

.fo-product__atc-price {
    font-size: 2rem;
    color: var(--clr-base-cta);
}

.fo-modal {
    transform: scale(0);
    transition: transform var(--duration) ease-in-out;
    animation-delay: var(--duration);
    animation: shrink var(--duration) forwards;
}

/* product order type modal */
.fo-order {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 40%);
    height: 100%;
    width: 100%;
    z-index: 500;
    display: grid;
    place-items: center;
    transform: scale(0);
    transition: transform var(--duration) ease-in-out;
    animation-delay: var(--duration);
    animation: shrink var(--duration) forwards;
}

.fo-order__wrapper {
    max-width: 350px;
    background-color: white;
    margin: 0 auto;
    padding: 0 45px 32px;
    border-radius: 32px;
    position: relative;
}

.fo-order__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.fo-order__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 48px;
}

.fo-order__switcher {
    border: 1px solid #C2C2C2;
    padding: 10px;
    border-radius: 140px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

.fo-order__switch {
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-text-disabled);
    height: 120px;
    min-height: 120px;
    width: 120px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
}

.fo-order__switch:first-of-type:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent-red);
    border-radius: 100%;
    z-index: 0;
    transition-delay: 75ms;
    transition: left 150ms ease-in-out;
}

.fo-order__switch-icon,
.fo-order__switch-text {
    position: relative;
    z-index: 1;
}

.fo-order__switch-text {
    color: currentColor;
    font-size: 1.4rem;
    line-height: 16px;
}

.fo-order__title {
    font-size: 2.8rem;
    color: var(--clr-text-primary);
}

.fo-order__field {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 12px 18px;
    border: 1px solid #C2C2C2;
    border-radius: 48px;
}

.fo-order__field .fo-icon {
    color: var(--clr-text-disabled);
}

.fo-order__field-input {
    all: unset;
    flex: 1;
    font-size: 1.8rem;
    color: var(--clr-text-primary);
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-datetime-edit-ampm-field {
    background: none;
    display: none;
}

.fo-order__message {
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    color: var(--clr-text-disabled);
    margin-bottom: 20px;
}

.fo-order__details {
    margin-bottom: 20px;   
    font-size: 1.8rem;
    color: var(--clr-text-primary);
}

.fo-order__submit {
    display: block;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 40px;
    background-color: var(--clr-add-btn);
    color: var(--clr-text-primary-inverse);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.fo-order__submit.fo-order__submit--outline {
    background-color: transparent;
    border: 1px solid var(--clr-add-btn);
    margin-bottom: 20px;
    color: var(--clr-text-primary);
}

/********
***
**
    PAYMENTS PAGE
**
***
********/
.fo-payment__header {
    background-color: #000;
}


.fo-payment__header-wrapper {
    max-width: 624px;
    margin: 0 auto;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fo-payment__logo-wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.fo-payment__logo {
    padding: 6px;
    width: max-content;
    background-color: var(--clr-accent-orange);
    display: grid;
    place-items: center;
}

.fo-payment__gov {
    display: flex;
    flex-direction: column;
}

.fo-payment__text {
    font-size: 1.6rem;
    color: var(--clr-base-white);
}

.fo-payment__signout-logo {
    display: grid;
    place-items: center;
}

.fo-payment__logout {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.fo-payment__main {
    padding-top: 68px;
    /* max-width: 624px; */
    /* margin: 0 auto; */
}

.fo-payment__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.fo-payment__order-wrapper {
    max-width: 375px;
    margin: 0 auto;
    border-bottom: 1px solid var(--clr-border-light);
    position: relative;
}

.fo-payment__order {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding: 0 16px 4px;
    width: max-content;
    margin: 0 auto;
    cursor: pointer;
}

.order_details_show {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: max-content;
}

.fo-payment__body-text {
    color: var(--clr-text-primary);
    font-size: 1.4rem;
    display: inline-block;
}

.fo-payment__selection-hidden .fo-payment__body-text {
    padding: 24px 16px;
}

.fo-payment__chevron-ico {
    display: grid;
    place-items: center;
}

.fo-payment__main-content {
    max-width: 375px;
    margin: 0 auto;
}

.fo-payment__due {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 24px 42px;
}

.fo-payment__body-heading {
    font-size: 3.6rem;
    color: var(--clr-text-primary);
}

.fo-payment__selection {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    padding: 0 20px;
}

.fo-payment__misc {
    background-color: transparent;
    border: 1px solid var(--clr-text-secondary);
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 16px 36px;
    width: 100%;
    margin: 0 auto;
}

.fo-payment__misc-ico {
    display: grid;
    place-items: center;
}

.fo-payment__btn-text {
    white-space: nowrap;
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: var(--clr-text-primary);
}

.fo-payment__methods {
    display: grid;
    text-align: left;
    padding: 0 0 32px;
}

.fo-payment__body-text--blocked {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fo-payment__change {
    font-size: 1.2rem;
    color: var(--clr-text-tertiary);
    cursor: pointer;
    display: none;
}

.fo-payment__radio {
    position: relative;
    display: inline-block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    border-radius: 100%;
    border: 1px solid var(--clr-base-cta);
}

.fo-payment__radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: var(--clr-base-cta);
    display: none;
}

.fo-payment__methods .fo-payment__body-text {
    padding: 12px 0;
}

.fo-payment__method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
}

.fo-payment__body-text--underline {
    border-bottom: 1px solid #E9E9E9;
}

.fo-payment__bank-subregion-wrapper {
    display: flex;
    align-items: center;
}

.fo-payment__bank-subregion {
    all: unset;
}

.fo-payment__info {
    display: grid;
    row-gap: 16px;
    place-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.fo-payment__body-text.fo-payment__body-text--sm {
    font-size: 1.2rem;
}

.fo-payment__body-text.fo-payment__body-text--clr-gray {
    color: var(--clr-text-tertiary);
}

.fo-payment__epayments {
    display: grid;
    place-items: center;
}

.accent-orange {
    color: var(--clr-accent-orange);
}

.fo-payment__terms-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
}

.fo-payment__submit {
    padding: 24px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: var(--clr-neutral-50);
}

.fo-payment__submit-wrapper {
    max-width: 375px;
    margin: 0 auto;
}

.fo-payment__submit-btn {
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 56px;
    padding: 16px;
    background-color: var(--clr-base-black);
    font-size: 2rem;
    color: var(--clr-text-primary-inverse);
    text-align: center;
}

.fo-payment__submit::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
}

.fo-table__text {
    font-size: 1.4rem;
    color: var(--clr-text-primary);
}

.fo-table__text.fo-table__text--heading {
    color: var(--clr-text-disabled);
}

.fo-payment__order-full-details {
    display: none;
    max-width: 375px;
    margin: 0 auto;
}

.fo-payment__order-heading {
    padding: 16px 16px 24px;
    font-size: 3.6rem;
    color: var(--clr-base-cta);
    display: block;
}

.fo-table {
    border-top: 1px solid var(--clr-border-light);
}

.fo-table__text--heading {
    color: var(--clr-text-disabled);
}

.fo-table__row span {
    display: inline-block;
    font-size: 1.4rem;
}

.fo-table__row > span:first-child {
    min-width: 184px;
    width: 184px;
    padding: 4px 18px;
}

.fo-table__row > span:nth-child(2) {
    min-width: 56px;
    width: 56px;
    padding: 4px 18px;
}

.fo-table__row > span:last-child {
    min-width: 80px;
    width: 80px;
    padding: 4px 18px;
}

.fo-table__row--order,
.fo-table__row--extras {
    border-top: 1px solid var(--clr-border-light);
    width: max-content;
}

.fo-table__row--extras.fo-table__row--extras-last {
    border-bottom: 1px solid var(--clr-border-light)!important;
    width: max-content;
}

.fo-table__row--extras > span:first-child {
    padding: 4px 16px 4px 32px;
}

.fo-table__misc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.fo-table__misc.fo-table__misc--border {
    border-bottom: 1px solid var(--clr-border-light);
}

.fo-table__misc-text {
    font-size: 1.4rem;
    color: var(--clr-text-primary);
}

.fo-table__misc-num {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-text-primary);
}

.fo-payment__selection-hidden-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.fo-payment__misc.fo-payment__misc--solid {
    border: none;
    display: flex;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
    background-color: var(--clr-base-cta);
}

.fo-payment__btn-text.fo-payment__btn-text--light {
    color: var(--clr-base-white);
}

/* QR scanner */
.fo-qr {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 40%);
    scale: 0;
    transition: scale 150ms ease-in-out;
    animation-delay: 150ms;
    animation: shrink 150ms forwards;
}

.fo-qr__wrapper {
    max-width: 628px;
    width: 100%;
    height: calc(100% - 67px);
    max-height: 701px;
    border-radius: 32px;
    padding: 24px;
    background-color: var(--clr-base-white);
    position: relative;
}

.fo-qr__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.fo-qr__manual-enter {
    text-decoration: underline;
    padding-top: 48px;
    text-align: right;
    font-size: 1.4rem;
    color: var(--clr-text-secondary);
    margin-bottom: 24px;
}

.fo-qr__scan-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: center;
    margin-bottom: 24px;
}

.fo-qr__text {
    color: var(--clr-text-secondary);
    text-align: center;
}

.fo-qr__scanner {
    width: 387px;
    min-width: 387px;
    height: 387px;
    min-height: 387px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 24px;
}

.fo-qr__scanner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0 0 0 / 40%);
    z-index: 5;
}

.fo-qr__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes shrink {
    100% {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
    }
}

.fo-payment__selection-hidden {
    display: none;
}