/* MENU SLIDER
#categories_slider_1:checked ~ .fo-body [for="categories_slider_1"].fo-slider__card,
#categories_slider_2:checked ~ .fo-body [for="categories_slider_2"].fo-slider__card,
#categories_slider_3:checked ~ .fo-body [for="categories_slider_3"].fo-slider__card,
#categories_slider_4:checked ~ .fo-body [for="categories_slider_4"].fo-slider__card,
#categories_slider_5:checked ~ .fo-body [for="categories_slider_5"].fo-slider__card,
#categories_slider_6:checked ~ .fo-body [for="categories_slider_6"].fo-slider__card,
#categories_slider_7:checked ~ .fo-body [for="categories_slider_7"].fo-slider__card,
#categories_slider_8:checked ~ .fo-body [for="categories_slider_8"].fo-slider__card { background-color: var(--clr-text-cta); }

#categories_slider_1:checked ~ .fo-body [for="categories_slider_1"] .fo-slider__img-wrapper,
#categories_slider_2:checked ~ .fo-body [for="categories_slider_2"] .fo-slider__img-wrapper,
#categories_slider_3:checked ~ .fo-body [for="categories_slider_3"] .fo-slider__img-wrapper,
#categories_slider_4:checked ~ .fo-body [for="categories_slider_4"] .fo-slider__img-wrapper,
#categories_slider_5:checked ~ .fo-body [for="categories_slider_5"] .fo-slider__img-wrapper,
#categories_slider_6:checked ~ .fo-body [for="categories_slider_6"] .fo-slider__img-wrapper,
#categories_slider_7:checked ~ .fo-body [for="categories_slider_7"] .fo-slider__img-wrapper,
#categories_slider_8:checked ~ .fo-body [for="categories_slider_8"] .fo-slider__img-wrapper { background-color: var(--clr-base-green); }

#categories_slider_1:checked ~ .fo-body [for="categories_slider_1"] .fo-slider__text,
#categories_slider_2:checked ~ .fo-body [for="categories_slider_2"] .fo-slider__text,
#categories_slider_3:checked ~ .fo-body [for="categories_slider_3"] .fo-slider__text,
#categories_slider_4:checked ~ .fo-body [for="categories_slider_4"] .fo-slider__text,
#categories_slider_5:checked ~ .fo-body [for="categories_slider_5"] .fo-slider__text,
#categories_slider_6:checked ~ .fo-body [for="categories_slider_6"] .fo-slider__text,
#categories_slider_7:checked ~ .fo-body [for="categories_slider_7"] .fo-slider__text,
#categories_slider_8:checked ~ .fo-body [for="categories_slider_8"] .fo-slider__text {
    color: #fff;
    font-weight: var(--weight-medium);
} */

/* pill */
#stacked_pill_1:checked ~ .fo-body [for="stacked_pill_1"].fo-pill,
#stacked_pill_2:checked ~ .fo-body [for="stacked_pill_2"].fo-pill,
#stacked_pill_3:checked ~ .fo-body [for="stacked_pill_3"].fo-pill {
    color: var(--clr-text-primary);
}

#stacked_pill_1:checked ~ .fo-body [data-item-tag="Specials"],
#stacked_pill_2:checked ~ .fo-body [data-item-tag="Offers"],
#stacked_pill_3:checked ~ .fo-body [data-item-tag="Fitlab"] {
    display: block;
}

#header_menu:checked ~ .fo-slider__menu {
    right: 0;
}

/* product options */
#product_option_1:checked ~ .fo-modal [for="product_option_1"] .fo-icon.fo-icon--check,
#product_option_2:checked ~ .fo-modal [for="product_option_2"] .fo-icon.fo-icon--check,
#product_option_3:checked ~ .fo-modal [for="product_option_3"] .fo-icon.fo-icon--check,
#product_option_4:checked ~ .fo-modal [for="product_option_4"] .fo-icon.fo-icon--check,
#product_option_5:checked ~ .fo-modal [for="product_option_5"] .fo-icon.fo-icon--check {
    display: flex;
}

/* modal */
#product_modal:checked ~ .fo-modal,
#order_type:checked ~ .fo-order { 
    transform: scale(1);
}

/* disable body's scrolling */
body:has(#product_modal:checked),
body:has(#mobile_menu:checked),
body:has(#order_type:checked) { overflow: hidden; }

@media (max-width: 767px) {
    #product_modal:checked ~ .fo-modal,
    #qr_scanner:checked ~ .fo-qr {
        top: 0;
        transition: top var(--duration) ease-in-out;
    }

    /* menu */
    #mobile_menu:checked ~ .fo-menu__fixed .fo-menu__btn.fo-menu__btn--open {
        display: none!important;
    }

    #mobile_menu:checked ~ .fo-menu__fixed .fo-menu__btn.fo-menu__btn--close {
        display: grid!important;
    }
}

/* menu with search bar */
#mobile_menu:checked ~ .fo-menu__menus-opened {
    top: 0%;
}

#mobile_menu_v2:checked ~ .fo-body #search_v2 {
    display: block;
}

#mobile_menu_v2:checked ~ .fo-body  .fo-field__search-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#mobile_menu_v2:checked ~ .fo-body [data-mobile-menu] .trigger {
    position: unset;
    display: none;
}

#mobile_menu_v2:checked ~ .fo-body .fo-slider__card--active {
    display: none;
}

@media (max-width: 900px) {
    #overview_close:checked ~ .fo-body .fo-sidebar {
        top: 0;
        transition: top var(--duration) ease-in-out;
    }
    
    #overview_close:checked ~ .fo-body .fo-form__redirect-wrapper {
        bottom: 0;
        transition-delay: var(--duration);
        transition: bottom var(--duration) ease-in-out;
    }
}

/* modal order type */
#dine:checked ~ .fo-order__switcher [for="dine"],
#takeaway:checked ~ .fo-order__switcher [for="takeaway"] {
    color: var(--clr-base-white);
}

#dine:checked ~ .fo-order__switcher .fo-order__switch:first-of-type:before {
    left: 0;
}

#takeaway:checked ~ .fo-order__switcher .fo-order__switch:first-of-type:before {
    left: 100%;
}

#order_type_interaction_1:checked ~ .fo-order .fo_order_type_interaction_2,
#order_type_interaction_1:checked ~ .fo-order .fo_order_type_interaction_3,
#order_type_interaction_2:checked ~ .fo-order .fo_order_type_interaction_1,
#order_type_interaction_2:checked ~ .fo-order .fo_order_type_interaction_3,
#order_type_interaction_3:checked ~ .fo-order .fo_order_type_interaction_1,
#order_type_interaction_3:checked ~ .fo-order .fo_order_type_interaction_2,
#order_type_interaction_3:checked ~ .fo-order .fo-order__switcher {
    display: none!important;
}

/* payments page (payment method) */
#payment_method_card:checked ~ [for="payment_method_card"] .fo-payment__radio::before,
#payment_method_bank:checked ~ [for="payment_method_bank"] .fo-payment__radio::before,
#Swedbank_Eesti:checked ~ [for="Swedbank_Eesti"] .fo-payment__radio::before,
#SEB_Eesti:checked ~ [for="SEB_Eesti"] .fo-payment__radio::before,
#Luminor_Eesti:checked ~ [for="Luminor_Eesti"] .fo-payment__radio::before,
#LHV:checked ~ [for="LHV"] .fo-payment__radio::before,
#Coop_Bank:checked ~ [for="Coop_Bank"] .fo-payment__radio::before,
#Citadele_Eesti:checked ~ [for="Citadele_Eesti"] .fo-payment__radio::before,
#Revolut:checked ~ [for="Revolut"] .fo-payment__radio::before,
#payment_method_card:checked ~ .fo-payment__methods-for.fo-payment__methods-for--card,
#payment_method_bank:checked ~ .fo-payment__methods-for.fo-payment__methods-for--bank,
#payment_method_card:checked ~ .fo-payment__body-text--blocked .fo-payment__change,
#payment_method_bank:checked ~ .fo-payment__body-text--blocked .fo-payment__change,
#terms:checked ~ [for="terms"] .fo-payment__radio::before {
    display: grid!important;
}

#order_details_show:checked ~ .fo-body .fo-payment__order-full-details {
    display: block;
}

#order_details_show:checked ~ .fo-body .fo-payment__chevron-ico {
    transform: rotate(180deg);
}

/* QR Code scanner */
#qr_scanner:checked ~ .fo-qr {
    scale: 1;
}

#payment_more_opt:checked ~ .fo-body .fo-payment__misc-ico:last-of-type {
    transform: rotate(180deg);
}

#payment_more_opt:checked ~ .fo-body .fo-payment__selection-hidden {
    display: grid;
}

#categories_slider_1:checked ~ .fo-body .fo-menus--1,
#categories_slider_2:checked ~ .fo-body .fo-menus--2,
#categories_slider_3:checked ~ .fo-body .fo-menus--3,
#categories_slider_4:checked ~ .fo-body .fo-menus--4,
#categories_slider_5:checked ~ .fo-body .fo-menus--5,
#categories_slider_6:checked ~ .fo-body .fo-menus--6 {
    display: grid;
}

/* menu slider */
#slider_1:checked ~ .slider__outer-container .slider__container { left: -0%; }
#slider_2:checked ~ .slider__outer-container .slider__container { left: -20%; }
#slider_3:checked ~ .slider__outer-container .slider__container { left: -40%; }
#slider_4:checked ~ .slider__outer-container .slider__container { left: -60%; }
#slider_5:checked ~ .slider__outer-container .slider__container { left: -80%; }
#slider_6:checked ~ .slider__outer-container .slider__container { left: calc(-100% - var(--card-gap) - var(--card-height)); }

#slider_1:checked ~ .slider__outer-container .fo-slider__btns--next [for="slider_2"],
#slider_2:checked ~ .slider__outer-container .fo-slider__btns--next [for="slider_3"],
#slider_3:checked ~ .slider__outer-container .fo-slider__btns--next [for="slider_4"],
#slider_4:checked ~ .slider__outer-container .fo-slider__btns--next [for="slider_5"],
#slider_5:checked ~ .slider__outer-container .fo-slider__btns--next [for="slider_6"],
#slider_6:checked ~ .slider__outer-container .fo-slider__btns--prev [for="slider_5"],
#slider_5:checked ~ .slider__outer-container .fo-slider__btns--prev [for="slider_4"],
#slider_4:checked ~ .slider__outer-container .fo-slider__btns--prev [for="slider_3"],
#slider_3:checked ~ .slider__outer-container .fo-slider__btns--prev [for="slider_2"],
#slider_2:checked ~ .slider__outer-container .fo-slider__btns--prev [for="slider_1"] {
    display: grid!important;
}