@media (max-width: 767px) {
    .fo-main {
        padding: 16px 0 110px;
    }
    
    .fo-slider__wrapper {
        display: block;
        columns: 6 156px;
        column-gap: 16px;
        row-gap: 16px;
    }

    .fo-slider__card {
        margin: 0 0 16px;
        display: inline-block;
        width: 100%;
        min-width: 156px;
    }

    .fo-slider__card {
        height: 177px;
    }

    .fo-slider__card:nth-of-type(1) {
        display: none;
    }

    .fo-slider__card:nth-of-type(2),
    .fo-slider__card:nth-of-type(5n),
    .fo-slider__card:nth-of-type(8n) {
        height: 221px;
    }

    .fo-menu__card-wrapper:hover {
        background-color: var(--clr-accent-green);
    }

    .fo-modal {
        place-items: start;
    }

    .fo-product {
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 0 92px;
        border-radius: 0;
        overflow-y: auto;
    }

    .fo-product__img-wrapper {
        height: 400px;
        min-height: 400px;
        position: sticky;
        top: 0;
    }

    .fo-menu__card-price {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .fo-menu__card-title,
    .fo-product__option-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fo-menu__card-info {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fo-product__info {
        overflow: unset;
        padding: 0 0 16px;
        margin: -104px auto 0;
        width: calc(100% - 32px);
    }

    .fo-modal__close-btn {
        top: 4px;
        right: 16px;
    }

    .fo-product__title {
        padding-top: 0;
    }

    .fo-modal__close-btn svg path {
        fill: var(--clr-base-white);
    }

    .fo-product__cta {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 16px 16px 20px;
        background-color: var(--clr-neutral-50);
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }

    .fo-modal {
        scale: 1;
        top: 100%;
        transition: top var(--duration) ease-in-out;
        animation-delay: var(--duration);
        animation: shrink var(--duration) forwards;
    }

    .fo-order__wrapper {
        max-width: calc(100% - 32px);
    }

    .fo-qr__wrapper {
        height: 100%;
        max-height: 100%;
        border-radius: 0;
    }

    .fo-qr__scanner {
        width: 240px;
        min-width: 240px;
        height: 240px;
        min-height: 240px;
    }

    .fo-payment__main {
        padding: 28px 0 0;
    }

    .fo-payment__form {
        row-gap: 24px;
    }
    
    .fo-payment__info {
        padding: 0;
    }
    
    .fo-qr {
        top: 100%;
        transition: top var(--duration) ease-in-out;
    }
}

@media (min-width: 768px) {
    .fo-main {
        padding: 24px 0;
    }

    .fo-section {
        padding: 0 24px;
    }

    .fo-form-wrapper {
        margin: 0 0 20px;
    }

    .fo-links__desk {
        display: inherit;
        gap: inherit;
        align-items: inherit;
    }

    .fo-slider__btn {
        display: grid!important;
    }

    .fo-slider__title {
        display: none;
    }

    .fo-slider__menu {
        max-width: 360px;
    }

    .fo-menu__fixed {
        display: none;
    }

    .fo-product__info-card:first-of-type  {
        border: none;
    }
}

@media (min-width: 1280px) {
    .fo-max-width {
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .fo-max-width {
        max-width: 1280px;
        margin: 0 auto;
    }

    .fo-menus {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1680px) {
    .fo-max-width {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .fo-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 100%;
        height: 100%;
        z-index: 500;
        background-color: var(--clr-product-card);
        padding: 60px 16px 110px;
        overflow: auto;
    }

    .fo-sidebar::-webkit-scrollbar {
        display: none;
    }

    .fo-overview-card__text--empty {
        margin-bottom: 0;
    }

    .fo-form__redirect-wrapper {
        place-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        background-color: var(--clr-neutral-50);
    }

    .fo-form__redirect {
        width: 100%;
        padding: 16px;
        background-color: var(--clr-neutral-100);
    }
}

@media (min-width: 901px) {
    .fo-overview__close-btn {
        display: none;
    }
}